@import "root.css";
@import "style.css";
@import "aside.css";



main{
    height:100vh;
    width:100vw;
    margin-top: 1.4rem;
}
main .share > h1{
    padding-top: 0.4rem;
    margin-right:56.26rem;
}
main .share a{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    padding-left: 0.6rem;
    font-size: 1.5rem;
    color:#fff;
    border:var(--border-radius-1);
    border-radius: 50%;
    background: var(--color-dark-variant);
}

main .share a:hover{
    background-color: var(--color-cool);
}

main .share .profile{
    position:absolute;
    left: 96.5vw;
    top: 3.9vh;
}
main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type = "date"]{
    background: transparent;
    color: var(--color-dark);
}
/*==================schedule===================*/
main .schedule table{
    border-radius: 3rem;
    text-align: center;
    background-color: var(--color-info-light);
    padding:1rem;
    padding-left: 0rem;
    margin-top: 3rem;
    margin-left: 3rem;
    height: 70vh;
    width: 75vw;
    font-size: 16px;
}

main .schedule table th{
    height: 2.7rem;
}

main .schedule table td:first-child{
    width:10rem;
}